@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #130e01;
  --background: #fffaeb;
  --primary: #ff8400;
  --secondary: #fff5d6;
  --accent: #cf4307;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  margin-bottom: 3rem;
}

.navigation input {
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--accent);
  font-size: 1.05rem;
}

.navigation input::placeholder {
  color: var(--secondary);
}

.navigation img {
  width: 3.5rem;
  height: 3.5rem;
}
